/*
===================================================
                全体
===================================================
*/
body {
	/*background-color: #f5f5f5;*/
    background-image: url("../img/background2.jpg");
    background-size: 100% 100%;
	color: #444;
    font-family: "Microsoft yahei";
}
.container {
    padding-left: 0;
    padding-right: 0;
}
a {
    color: #666;
}
a:hover {
	text-decoration: none;
}
/*
===================================================
                微信墙--计软院标题广告
===================================================
*/
.logo-adv {
    /*margin-top: 50px;*/
    background-color: #c9c9c9;
    height: 800px;
}
.logo {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 170px;
    height: 170px;
    /*background-color: #dcdcdc;*/
}
.logo-min {
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;
    /*text-align: center;*/
}
.logo-min img {
    display: inline-block;
    width: 120px;
    height: 120px;
}
.adv {
    margin-top: 10px;
    font-family: "Microsoft YaHei";
    text-align: center;
}
.p1 {
    color: #000;
}
.prize {
    width: 246px;
    height: 89px;
    position: absolute;
    bottom: 50px;
    right: 40px;
    background-color: #444;
    color: #fff;
    font-size: 30px;
    line-height: 84px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}
/*
===================================================
                微信墙--信息展示
===================================================
*/
.show-data {
    /*background-color: #313131;*/
    height: 800px;
}
.show-container {
    height: 96%;
    margin-top: 2%;
    margin-right: 1.5%;
    margin-left: 1.5%;
    overflow: hidden;
    position: relative;
}
.window {
    opacity: 0.88;
    /*background-color: #313131;*/
    height: 184px;
    position: relative;
}
.information {
    margin-top: 1%;
    /*margin-left: 4%;*/
    height: 90%;
    background-color: #dcdcdc;
}
h3 {
    font-size: 1.8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.avatar {
    margin-top: 4%;
    height: 60%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: #dcdcdc;
}
.show {
    margin-top: 1%;
    height: 90%;
    background-color: #dcdcdc;
}
.show h1 {
    line-height: 1.2;
    color: #111;
    margin: 0;
}
/*
===================================================
                微信墙--自适应
===================================================
*/
/*800以下*/
@media screen and (min-width: 600px) and (max-width: 798px){
    .logo {
        width: 120px;
        height: 120px;
    }
    .logo-adv {
        height: 600px;
    }
    .prize {
        width: 200px;
        height: 60px;
        position: absolute;
        bottom: 20px;
        right: 30px;
    }
    .show-data {
        height: 600px;
    }
    .avatar {
        margin-top: 9%;
        width: 68%;
        height: 57%;
    }
    h3 {
        font-size: 15px;
    }
    h1 {
        font-size: 22px;
    }
}
/*800*600*/
@media screen and (min-width: 799px) and (max-width: 1000px) {
    .logo {
        width: 100px;
        height: 100px;
    }
    .logo-adv {
        height: 600px;
    }
    .prize {
        width: 260px;
        height: 80px;
        position: absolute;
        bottom: 20px;
        /*right: 30px;*/
    }
    .show-data {
        height: 600px;
    }
    .avatar {
        margin-top: 12%;
        width: 89%;
        height: 72%;
    }
    h3 {
        font-size: 19px;
    }
    h1 {
        font-size: 23px;
    }
    .p3 {
        line-height: 1.1;
        font-size: 17px;
    }
    .p2 {
        line-height: 1.1;
        font-size: 20px;
    }
    .p1 {
        line-height: 1.1;
        font-size: 25px;
    }
}
/*1280*800 在MAC上面默认的*/
@media screen and (min-width: 1001px) and (max-width: 1281px) {
    .logo {
        width: 140px;
        height: 140px;
    }
    .logo-adv {
        height: 800px;
    }
    .show-data {
        height: 800px;
    }
    .avatar {
        margin-top: 7%;
        height: 80%;
        width: 72%;
    }
    h3 {
        font-size: 25px;
    }
    h2 {
        font-size: 23px;
    }
    h1 {
        font-size: 32px;
    }
    .p3 {
        line-height: 1.2;
        font-size: 21px;
    }
    .p2 {
        line-height: 1.2;
        font-size: 23px;
    }
    .p1 {
        line-height: 1.2;
        font-size: 28px;
    }
}
/*1366*768*/
@media screen and (min-width: 1282px) and (max-width: 1367px) {
    .logo {
        width: 160px;
        height: 160px;
    }
    .logo-adv {
        height: 768px;
    }
    .show-data {
        height: 768px;
    }
    .avatar {
        margin-top: 6%;
        width: 65%;
        height: 57%;
    }
    h3 {
        font-size: 27px;
    }
    h1 {
        font-size: 29px;
    }
    .p3 {
        line-height: 1.2;
        font-size: 20px;
    }
    .p2 {
        line-height: 1.2;
        font-size: 23px;
    }
    .p1 {
        line-height: 1.2;
        font-size: 30px;
    }
}
/*1680*1050*/
@media screen and (min-width: 1370px) and (max-width: 1681px) {
    .logo-adv {
        height: 1050px;
    }
    .logo {
        width: 230px;
        height: 230px;
    }
    .show-data {
        height: 1050px;
    }
    .avatar {
        margin-top: 6%;
        width: 69%;
        height: 57%;
    }
    h3 {
        font-size: 30px;
    }
    h1 {
        font-size: 45px;
    }
    .p3 {
        line-height: 1.3;
        font-size: 24px;
    }
    .p2 {
        line-height: 1.2;
        font-size: 29px;
    }
    .p1 {
        line-height: 1.3;
        font-size: 36px;
    }
}
/*1920*1080*/
@media screen and (min-width: 1682px) and (max-width: 1921px) {
    .logo-adv {
        height: 1080px;
    }
    .logo {
        width: 240px;
        height: 240px;
    }
    .show-data {
        height: 1080px;
    }
    .avatar {
        margin-top: 6%;
        width: 63%;
        height: 63%;
    }
    h3 {
        font-size: 35px;
    }
    h1 {
        font-size: 50px;
    }
    .p3 {
        line-height: 1.2;
        font-size: 26px;
    }
    .p2 {
        line-height: 1.2;
        font-size: 23px;
    }
    .p1 {
        line-height: 1.2;
        font-size: 38px;
    }
}
/*
===================================================
                抽奖--自适应
===================================================
*/