/*
===================================================
                全体
===================================================
*/
body {
	background-color: #f5f5f5;
	color: #444;
}
.container {
    padding-left: 0;
    padding-right: 0;
}
a {
    color: #666;
}
a:hover {
	text-decoration: none;
}
/*
===================================================
                微信墙--信息展示
===================================================
*/
.show-data {
    background-color: #313131;
    height: 800px;
}
.show-container {
    height: 96%;
    margin-top: 2%;
    margin-right: 1.5%;
    margin-left: 1.5%;
    overflow: hidden;
    position: relative;
}
.window {
    height: 20%;
    margin-bottom: 10px;
    background-color: #dcdcdc;
    position: relative;
}
.information {
    /*margin-top: 1%;*/
    height: 100%;
    /*background-color: #dcdcdc;*/
}
.information img{
    width: 60%;
    height: auto;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}
h3 {
    font-size: 2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*.avatar {
    margin-top: 4%;
    height: 60%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: #dcdcdc;
}*/
.show {
    height: 100%;
}
.show p {
    font-size: 20px;
    font-family: "Microsoft yahei";
    line-height: 1.2;
    color: #111;
    margin: 0;
}
.wall{
    height: 100%;
}
.wall .btn{
    width: 60%;
    margin: 30% 25%;
}